{{> head }}
{{> nav }}
<div class="container-fluid">

  <div class="row">
    <div class="col-md-5 col-md-offset-7">
      <h2 class="text-capitalize">project title</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 col-xs-12 text-justify">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel inventore aliquam laudantium maxime facilis accusantium labore neque fuga unde ipsum. Saepe deserunt architecto ex, necessitatibus, aspernatur officiis omnis id quia.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel inventore aliquam laudantium maxime facilis accusantium labore neque fuga unde ipsum. Saepe deserunt architecto ex, necessitatibus, aspernatur officiis omnis id quia.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel inventore aliquam laudantium maxime facilis accusantium labore neque fuga unde ipsum. Saepe deserunt architecto ex, necessitatibus, aspernatur officiis omnis id quia.</p>
    </div>
    <div id="details" class="col-md-5 col-xs-12">
      <dl>
        <dt>company:</dt>
        <dd>NCCPT</dd>
        <dt>Roll:</dt>
        <dd>this and that</dd>
        <dt>Roll:</dt>
        <dd>designer</dd>
        <dt>Roll:</dt>
        <dd>designer</dd>
      </dl>
    </div>
  </div>
</div>
<hr/>
<div class="container-fluid">
  <div class="row gallery-inner">
    <span class="col-xs-6 col-sm-4 col-md-3 gallery-item"><a href="#"> <img src="http://placehold.it/300x200"/></a></li>
    <span class="col-xs-6 col-sm-4 col-md-3 gallery-item"><a href="#"> <img src="http://placehold.it/300x200"/></a></li>
    <span class="col-xs-6 col-sm-4 col-md-3 gallery-item"><a href="#"> <img src="http://placehold.it/300x200"/></a></li>
    <span class="col-xs-6 col-sm-4 col-md-3 gallery-item"><a href="#"> <img src="http://placehold.it/300x200"/></a></li>
    <span class="col-xs-6 col-sm-4 col-md-3 gallery-item"><a href="#"> <img src="http://placehold.it/300x200"/></a></li>
    <span class="col-xs-6 col-sm-4 col-md-3 gallery-item"><a href="#"> <img src="http://placehold.it/300x200"/></a></li>
  </div>
</div>

{{> footer }}
{{> js }}
{{> foot }}
